{{! Put your menu content here or make this file empty in order to remove the menu }}
<nav class="menu">
	<div class="menu__wrap">
		<a href="/" class="menu__item menu__item--active">首页</a>
		<a href="/tag/shou-bing/" class="menu__item">手柄</a>
		<a href="/tag/wu-shou-bing/" class="menu__item">无手柄</a>
	</div>
</nav>
